* {font-family:Garamond, 'Times New Roman', Times, serif; color:black;}

/*Side Bar*/
.SideNav {
    background-color:#e6f4f3;
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    text-align: center;
    margin-left:1%;
}

.NavLink {
    font-size:larger;
    display: block;
    padding-bottom: 15%;
}

/*Page Content*/
.content{
    margin-left: 14%;
    margin-right: 1%;
}

.content h1 {
    text-align: center;
}