* {
    font-family: gesta, sans-serif;
    font-weight: 300;
    font-style: normal;
    color:black;
}

a {
    text-decoration: none;
}

a:hover {
    color: #90d7d5
}

i {
    font-style: italic;
}

/*Side Bar*/
.SideNav {
    background-color: #e6f4f3;
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    text-align: center;
    margin-left: 1%;
    font-family: "adobe-garamond-pro", serif;
    font-style: normal;
}

.Logo {
    align-content: center;
    margin: 12% 0%;
}

.NavLink {
    font-size: larger;
    display: block;
    padding-bottom: 15%;
    text-decoration: none;
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-style: normal;
}

.Current {
    color: #90d7d5;
}

.NavLink:hover {
    color: #90d7d5;
}

/*Page Content*/
.Content{
    margin-left: 17%;
    margin-right: 2%;
}

/*Page Heading*/
.Page_Heading{
    text-align: center;
    float: left;
    width: 80%
}

.Page_Heading h1 {
    text-align: center;
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
}

.Page_Heading h1 a {
    text-decoration: none;
}

.Page_Heading h1 a:hover {
    color: #90d7d5
}

.Page_Heading h2 {
    text-align:center;
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size:xx-large;
}

/*Main Section*/
.Main{
    display: block;
    float: left;
    width: 80%
}

/*Home Page*/
#Profile {
    width: 20%;
    display: block;
    float: right;
}

/*Project Page*/
#ProjectPage {
    text-align: center;
}

#ProjectPage a {
    text-decoration: none;
}

#ProjectPage a:hover {
    color: #90d7d5;
}

.Project {
    text-align:center;
}

.Project_Image {
    width: 60%;
    text-align: center;
}

p.Details {
    text-align:left;
}

.Thumbnail {
    height: 20ex;
    text-align: center;
}

/*Contact Page*/
.Email {
    font-size:larger;
    text-align: center;
}

/*Resume Page*/
#Resume_Download {
    font-family: gesta, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1ex;
}

iframe {
    width: 100%;
    height: 80ex;
    border-color: #a4a4a4;
    text-align: center;
}

/*My Career Page*/
.Reference_List {
    margin-top:6ex;
}